.projects {
  background-color: white;
  height: 45vh;
  width: 700px;
  max-width: 90%;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
  transition: height 0.3s ease-in-out;
  &--alt {
    height: 500px;
  }
}
