.blur-load {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  padding: 0;
  .link {
    height: 100%;
    width: 100%;
  }
  .image {
    display: block;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: fill;
  }
  .link,
  .image {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }
  &.loaded {
    .link,
    .image {
      opacity: 1;
    }
  }
}
