@use "../../../styles/vars" as *;

.slider {
  max-width: 90%;
  aspect-ratio: 1 / 0.6;
  margin: 1rem auto 0;
  border-radius: 10px;
  overflow: hidden;
  &--sm {
    width: 400px;
  }
  &--lg {
    width: 500px;
  }
}
