// colors
$light-gray: rgb(224, 224, 224);
$gray: rgb(128, 128, 128);
$dark-gray: rgb(73, 73, 73);
$border-color: #c7cf00;

// screen sizes
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;
