@use "./vars" as *;
@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

/* -- scroll bar -- */
section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 175px);
  margin-top: 100px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $scrollbar-track-color;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-color;
  border-radius: 10px;
  width: 8px;
  box-shadow: 0 2px 3px #0003;
}

/* -- description -- */
.description {
  min-height: 150px;
  margin-top: 2rem;
  &-title {
    position: relative;
    margin-bottom: 2.2rem;
    &::after {
      position: absolute;
      bottom: -1rem;
      left: 0;
      content: "";
      width: 50px;
      border-bottom: 3px solid $border-color;
    }
  }
  &-container {
    height: 100%;
    overflow-y: auto;
  }
  &-text {
    font-size: 1.5rem;
  }
}
.description-container {
  overflow: auto;
}

/* -- popup -- */
.popup {
  width: 350px !important;
  max-width: 90%;
}

.popup__btn {
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(170, 170, 170);
  padding: 0.6rem 2rem;
  transition: background-color 0.2s linear;
}

.popup__btn:hover {
  background-color: gray;
}

/* -- carousel -- */
.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item {
  width: 100%;
  height: 100%;
}

/* -- progress bar -- */
.progress .progress-bar {
  background-color: $progress-bar-color;
}
