html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

/* -- popup -- */
.popup {
  width: 350px !important;
  max-width: 90%;
}

.popup__btn {
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(170, 170, 170);
  padding: 0.6rem 2rem;
  transition: background-color 0.2s linear;
}

.popup__btn:hover {
  background-color: gray;
}

/* -- carousel -- */
.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item {
  width: 100%;
  height: 100%;
}

/* -- progress bar -- */
.progress .progress-bar {
  background-color: #F6DCBF;
}