@use "../../styles/media-queries" as mediaQuery;
@use "../../styles/vars" as *;

.about {
  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 5rem 2rem 10rem;
    @include mediaQuery.media-min($medium-screen) {
      gap: 10rem;
      flex-direction: row;
    }
    &:nth-child(1) {
      align-items: stretch;
    }
    &:nth-child(2) {
      clip-path: polygon(0 0, 100% 5%, 100% 94%, 0% 100%);
      position: relative;
      flex-direction: column;
      gap: 3rem;
      background-color: rgb(58, 58, 58);
      color: white;
      & .description-title {
        &::after {
          border-color: white;
        }
      }
    }
  }
  .progressBar {
    margin-bottom: 2rem;
    width: 800px;
    max-width: 90%;
    &__title {
     color: rgb(90, 90, 90);
    }
  }
  &__first-image {
    position: relative;
    border: 1px solid black;
    width: 400px;
    max-width: 80%;
    height: 300px;
    margin-bottom: 125px;
  }
  &__second-image {
    position: absolute;
    bottom: -30%;
    right: 0;
    transform: translateX(25%);
    border: 1px solid black;
    width: 150px;
    height: 250px;
  }
  &__third-image {
    border: 1px solid black;
    width: 200px;
    height: 250px;
    align-self: flex-start;
  }
  &__fourth-image {
    align-self: flex-end;
    border: 1px solid black;
    width: 150px;
    height: 200px;
  }
}

.description {
  width: 60%;
  &-title {
    position: relative;
    margin-bottom: 4rem;
    &::after {
      position: absolute;
      bottom: -1rem;
      left: 0;
      content: "";
      width: 50px;
      border-bottom: 3px solid gray;
    }
  }
  &-text {
    font-size: 1.7rem;
  }
}