@use "../../styles/media-queries" as mediaQuery;
@use "../../styles/vars" as *;

.about {
  &__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    padding: 5rem 2rem 10rem;
    &:nth-child(2) {
      clip-path: polygon(0 0, 100% 5%, 100% 94%, 0% 100%);
      position: relative;
      flex-direction: column;
      gap: 3rem;
      background-color: $very-dark-gray;
      color: white;
    }
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;
      width: 100%;
      opacity: 0;
      transform: translateX(-30px);
      &.visible {
        transition: 2s cubic-bezier(0.5, 0, 0, 1);
        transition-delay: 0.2s;
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
  &__skills {
    margin: auto;
    width: 800px;
    max-width: 90%;
  }
  .progressBar {
    margin-bottom: 2rem;
    &__title {
      color: $gray;
      font-weight: normal;
    }
  }
  &__first-image {
    position: relative;
    border: 1px solid black;
    width: 400px;
    max-width: 80%;
    height: 300px;
    margin-bottom: 125px;
  }
  &__second-image {
    position: absolute;
    bottom: -30%;
    right: 0;
    transform: translateX(25%);
    border: 1px solid black;
    width: 150px;
    height: 250px;
  }
  &__third-image {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    align-self: flex-start;
  }
  &__fourth-image {
    align-self: flex-end;
    border: 1px solid black;
    width: 150px;
    height: 200px;
  }
}
