@use "../../styles/media-queries" as mediaQuery;
@use "../../styles/vars" as *;

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__container {
    color: white;
    padding: 2rem;
    margin: auto;
    width: 90%;
    height: 100%;
    .home__name {
      position: relative;
      color: $main-title-color;
      font-size: 6rem;
      margin-bottom: 2rem;
      @include mediaQuery.media-min($small-screen) {
        margin-bottom: 10rem;
        font-size: 8rem;
      }
    }
    .home__description {
      font-size: 1.5rem;
      width: 80%;
      margin-left: auto;
      @include mediaQuery.media-min($small-screen) {
        font-size: 1.8rem;
      }
    }
    .home__lastname {
      display: block;
      margin-left: 4rem;
      @include mediaQuery.media-min($medium-screen) {
        display: inline;
        position: absolute;
        top: 50%;
      }
    }
  }
  .home__presentation-container {
    mix-blend-mode: difference;
    padding: 0 0 4rem;
    position: relative;
    .home__projects-button {
      position: absolute;
      bottom: 0;
      right: 10%;
      color: $gray;
      width: max-content;
      margin-left: 80%;
      font-size: 1.3rem;
      font-weight: bold;
      text-transform: uppercase;
      .home__projects-link {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
