@use "../../styles/media-queries" as mediaQuery;
@use "../../styles/vars" as *;

.contact {
  color: white;
  text-shadow: 0 0 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  &__form {
    position: absolute;
    top: 25%;
    width: 500px;
    max-width: 90%;
    font-size: 1.7rem;
  }
  &__textarea {
    resize: none;
    margin-bottom: 10rem;
  }
  &__button {
    width: 100%;
    background-color: $dark-gray!important;
    border: 2px solid white!important;
    padding: 1rem;
  }
}
