@use "../../styles/vars" as *;

.footer {
  font-size: 1.3rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: white;
  color: $dark-gray;
  padding: .5rem 1.6rem;
  border-top: 1px solid $light-gray;
  width: 100%;
  height: 60px;
  &__link {
    display: flex;
    list-style: none;
    font-size: 2.5rem;
    gap: 2rem;
  }
  &__icon {
    color: $dark-gray;
    font-size: 2rem;
  }
  &__copy {
    margin: 0;
  }
}
