@use "../../../styles/media-queries" as mediaQuery;
@use "../../../styles/vars" as *;

.navbar {
  &__offcanvas {
    width: 70% !important;
  }
  &__link {
    position: relative;
    color: $gray;
    border-color: $gray;
    font-size: 1.7rem;
    width: fit-content;
    text-decoration: none;
    padding: 0.5rem;
    margin-left: 2rem;
    position: relative;
    transition: none;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      opacity: 0;
      border-bottom: 2px solid $gray;
    }
    &.active-link {
      &:after {
        opacity: 1;
        width: 60%;
      }
    }
    @include mediaQuery.media-min($large-screen) {
      color: white;
    }
    &--alt {
      color: $gray;
    }
  }
  &__brand {
    position: relative;
    background-color: white;
    padding: 2rem 1rem;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(73, 73, 73);
    &:after {
      content: "";
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      width: 10rem;
      border-bottom: 3px solid $border-color;
    }
    &:hover {
      color: $dark-gray;
    }
  }
  &__brand-text {
    text-decoration: none;
    color: $dark-gray;
  }
  .i-letter {
    color: $border-color;
    position: relative;
    &:before {
      content: "ı";
      position: absolute;
      color: $dark-gray;
    }
  }
}
