@mixin media-min($_min-width) {
  @media screen and (min-width: $_min-width) {
    & {
      @content;
    }
  }
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  &__link {
    color: gray;
    border-color: gray;
    font-size: 1.7rem;
    width: fit-content;
    text-decoration: none;
    padding: 0.5rem;
    margin-left: 2rem;
    position: relative;
    transition: none;
    @include media-min(992px) {
      color: white;
      border-color: white;
    }
    &.active-link {
      border-bottom: 2px solid;
      @include media-min(992px) {
        border-bottom: 2px solid;
      }
    }
  }
  &__link--alt {
    color: gray !important;
    border-color: gray;
  }
  &__brand {
    position: relative;
    background-color: white;
    padding: 2rem 1rem;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(73, 73, 73);
    &:after {
      content: "";
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      width: 10rem;
      border-bottom: 3px solid rgb(73, 73, 73);
    }
  }
}
